{% extends 'base.html' %}
{% block content %}
<h1>{{ app_name }}</h1>

<h5>Nama:</h5>
<p>{{ name }}</p>

<h5>Kelas: </h5>
<p>{{ class_name }}<p>

<br />

{% if not product_entries %}
<p>Belum ada data product pada Flihid Market.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product</button>
</a>
<a href="{% url 'main:logout' %}"></a>
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}